/* =============
    efficient
============= */

#efficient{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". efficient .";

    >div{
        grid-area: efficient; 

        h1{
            font-family: 'Roboto', sans-serif;
            color: var(--black);
            font-size: rem-calc(40);
            text-align: center;
            
            @include lg{
                font-size: rem-calc(55);

            }

            span{ 
                font-size: rem-calc(40);

                @include lg{
                    display: block;
                    font-size: rem-calc(55);
    
                }

            }
        }
    }
}