/* =============
    Gallery
============= */

#gallery{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". gallery .";

        >div{
            grid-area: gallery;

            #gallery-top{
                h1{
                   font-family: 'Roboto', sans-serif;
                   color: var(--black);
                   font-size: rem-calc(40);
                   text-align: center;

                   @include xl{
                        display:block;
                        font-size:rem-calc(55);
                   }

            #gallery-bottom{
                article{
                    p{
                        font-weight: 700;
                        font-size: rem-calc(15);
                        line-height: 23px;
                        text-align: center;
                        
                        @include xl{
                            display: block;
                            font-size: rem-calc(30);
                        }
                    }
                }
            }

            #container{
                display: grid;
                place-items: center;
                height: 100vh;
                background: #D7A0B9;
                border-radius: 30px;
                    }
                }
            }
        }
}

#gallery-picture{
    // display : grid;
    // grid-template-columns: 50% auto;
    // grid-template-areas: ;
    padding-top : 45px;
    >div{
        ul{
            display : flex;
            flex-direction : column;
            // ALEX| not exactly right but you could make a rightsection, leftsection,
            // and the bottom photo centered,
            //Make the photo sections different ids (#) with different alignment

            // and put negative top margins
            align-items : flex-end;
            li{
                img{
                    margin-top : -15px;
                    width : 50%;
                }
            }
        }
    }
}
    