/* =============
    Hero
============= */

#hero{
    background-image: url("../img/hero/hero.png");
    background-size: cover;
    background-position: center;
    height: 35vh;

    @include xxl{
        width: 1440px;
        height: 999px;
    }
} 