/* =============
    Hero
============= */

#hero{
    background-image: url("../img/hero/hero.png");
    background-size: cover;
    background-position: center;
    width: 390px;
    height: 254px;

    @include xxl{
        width: 1440px;
        height: 999px;
    }
} 